

.comments{
    height: auto;
    padding: 20px;
}

.comment-item .comment-image img{
    height: 200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.comment-item .comment-content h4{
    color: #212353;
    font-size: 18px;
    font-weight: 800;
}


.comments  .comment-item .comment-content a{
    display: block;
    font-size: 14px;
    color: palevioletred;
    margin-bottom: 20px;
}


.comments .comment-item .comment-content p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
    color: #212353;
}

@media screen and (min-width: 1024px) {  

    
    .comments .comment-item .comment-image,
    .comments .comment-item .comment-content{
        text-align: center;
        padding-left: 15px;
    }

    .comments .comment-item .comment-content{
        flex: 1 0 0;
        width: 11rem;
        line-height: 2;
        margin: 0 auto;    
    }

    .comment-item .comment-image img{
        height: 200px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 50%;
    }

    
}