@media screen and (min-width: 1024px) {
    .footer h3{
        font-size: 40px;
    }    
}

.footer{
    margin: 150px 0 0 0;
    padding-top: 50px;
    padding: 20px;
    padding-bottom: 90px;
    background-color: #1c1c1c;
    color: #1c1c1c;
    height: 500px;
    max-height: 1100px;
}

.footer-h3-p{
    color: #fff;
}

.footer a{    
    color: #212123;
    
}

.footer .footer-menu-link i{    
    font-size: 18px;    
}

.footer .column{
    position: relative;
}


.footer-contact-button{
    justify-content: center;
    align-items: center;
}


.footer h3{
    display: block;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer-contact-social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px auto;
    padding-left: 40px;
    padding-top: 10px;
    background-color: rgb(137, 187, 36);
    border-radius: 10px;
    height: 300px;
}

.footer-contact-social .column{
    margin: 0;
}

.footer-contact-social   .mail-head{
    margin-bottom: 15px;
}

.footer p{
    font-size: 18px;
}

.footer .footer-copyright{
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: auto;
}
.footer-copyright .column{
    margin: 0 auto;
    
}

.footer .social-media-link{
    background-color: transparent;
}

.footer .social-media-link i{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 6px;
    padding-top: 7px;
    font-size: 20px;
    width: 100% !important;
    display: block;
}





.footer-menu-title{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 30px;
}

.footer-menu-list {
    display: flex;
}

.footer .mouse-link{
    left: -30px;
    top: 0px;
    font-size: 35px;
    position:absolute;
}

.footer-menu-list .footer-menu-link{
    font-size: 16px;
    line-height: 40px;
    margin-right: 10px;
}

.footer-contact-button h3{
    font-size: 40px;
}  




@media screen and (max-width: 1024px) {
    .footer{
        text-align: center;
        height: auto;
        margin-bottom: 0;
    }

    .footer .column{
        margin-bottom: 50px;
    }

    .mobile-margin-bottom{
        margin-bottom: 30px;
    }

    .footer .footer-copyright{
        margin-top: 30px;
    }
 

    .footer-contact-social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        height: auto;
        padding-top: 30px;
    }

    
    
    
    .footer-links{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer button{
        margin: auto;
    }

    .footer-contact-button{
        justify-content: center;
        align-items: center;
    }

    

    .footer-contact-button .column{
        margin-right: auto;
        margin-left: auto;

    }
    .footer-contact-button h3{
        font-size: 30px;
    }   

    
    .footer .footer-copyright{
        align-items: center;
        justify-content: space-between;
    }


    .footer .mouse-link{
        font-size: 40px;
        position:relative;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .footer .social-media{
        text-align: center;
        padding-left: 10px;
    }

    
}

@media screen and (max-width: 394px) {

    .footer-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}