@import url(navigation.css);

.header{
    padding: 2rem 0;
    background-image: url('../image/header-bg.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.header .logo{
    background-color: rgb(137, 187, 36);
    border-radius: 50%;
    padding: 7px;
    padding-top: 8px;
    height: 60px;
    width: 60px;
    text-align: center;
    border: 1px solid #fff;
}

.container-header{
    padding: 5px 0;
    /* position: fixed; */
    /* z-index: 9999999;*/
    width: 100%; 
    margin: 0 auto;

}

.header .row{
    padding-right: 10px;
    /* background -color: yellowgreen; */
    margin: 0 auto;
    max-width: 1024px;
}


.sticky {
    width: 100%;
    background-color: #1c1c1c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

@media screen and (max-width: 1024px) {
    .sticky {
        width: 100%;
        background-color: #1c1c1c;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999;
    }
}